/*-----------------------------------*\
$RESET
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, 
ol, 
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*FOR FULL WIDTH BG IMAGE*/

body {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  height: 100%;
}

/*FOR FULL WIDTH BG IMAGE*/


/*-----------------------------------*\
$GRID
\*-----------------------------------*/

.container {
  /* Whatever you want. They’re your oats. */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.5rem;
}



.unit.demo {
  background-color: #fff8eb;
  height: 48px;
  height: 3rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}




/*-----------------------------------*\
$TYPE

Works off the assumption of a 1.5
line height @ 20px. Again, change
as necessary.
\*-----------------------------------*/

p, .p, ul, ol, hr, table, form, pre,
h1, .alpha, h2, .beta {
  margin-bottom: 0px;
  color: #666666;

}

h1, .alpha {
  color: black;
  font-size: 60px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: .75em;
  padding-bottom: .2em;
  border-bottom: 2px solid black;
}

h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
  margin: 0;
}

h3, .gamma {
  color: #666666;
  font-size: 20px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 40px;
  padding-bottom: 39px;
  border-bottom: 1px solid black;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-top: -1px;
}

.header {
  padding-bottom: 10px;
  color: #666666;
  font-size: 20px;
}

.team {
  font-weight: 700;
  color: #e51936;
  font-size: 24px;
}

.feet {
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

a {
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e51936;
}

.home {
  color: #e51936;
}

.away {
  color: black;
}

a.feet {
  color: #FFF;
}

a.feet:hover {
  color: #e51936;
}

a.official {
  color: #666666;
  font-weight: 400;
}

a.official:hover {
  color: black;
  font-weight: 400;
}

/*-----------------------------------*\
$MAIN
\*-----------------------------------*/

html {
  font: 125%/1.5 'Open Sans', sans-serif;
}



.footer {
  color: #FFF;
  padding: 10px 10px;
  background-color: black;
  text-align: center;
  display: block;
  width: 100%;
}

.wrap {
  width: 90%;
  max-width: 1020px;
  margin: 0 auto;
}

/*==================================================================
NAV
==================================================================*/
.nav {
  text-align: center;
}



/*==================================================================
BREAKPOINT 1 - MOVING TOWARDS DESKTOP
==================================================================*/
@media screen and (min-width: 950px) {
  .nav {
    top: 10px;
    position: fixed;
    left: 20px;
    text-align: left;
  }
  .grid {
    margin-left: -3%;
    max-width: 105%;
  }

  .unit {
    display: inline-block;
             *display: inline;
             *zoom: 1;
             vertical-align: top;
             margin-left: 3%;
             margin-right: -.25em;
             /* Clearfix */
             overflow: hidden;
                       *overflow: visible;
                     }

                     .one-of-four { width: 22.05%; }
                     .three-of-four { width: 72%; margin-top: 85px; padding-left: 20px;}

                     h1, .alpha {
                       font-size: 3rem;
                     }
                   }

